.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color:#78909c;
  background: linear-gradient(
    135deg,
    rgba(115, 173, 245, 1) 0%,
    rgba(115, 173, 245, 1) 50%,
    rgba(218, 231, 247, 1) 50%,
    rgba(218, 231, 247, 1) 100%
  );
}