.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color:#78909c;
  background: linear-gradient(
    135deg,
    rgba(29, 67, 236, 1) 0%,
    rgba(29, 67, 236, 1) 50%,
    rgba(233, 27, 27, 1) 50%,
    rgba(233, 27, 27, 1) 100%
  );
}